  <!-- Navigation -->
  <nav class="fixed flex justify-between py-6 w-full lg:px-48 md:px-12 px-4 content-center bg-secondary z-10">
    <div class="flex items-center">
      <%= image_tag 'Logo_black', alt: "Logo", class: "h-4"%>
    </div>
    <ul class="font-montserrat items-center hidden md:flex">
      <li class="mx-3 ">
          <%= link_to "About", "https://www.linkedin.com/in/annie-walsh-b754706a/",  target: :_blank, class: "growing-underline" %>
      </li>
      <li class="mx-3">
        <%= link_to "Projects", garden_path, class: "growing-underline" %>
      </li>
      <li class="mx-3">
        <%= link_to "The Garden", garden_path, class: "growing-underline" %>
      </li>

    </ul>
    <div class="font-montserrat hidden md:block">
      <button class="mr-6">Client Login</button>
      <button class="py-2 px-4 text-white bg-black rounded-3xl">
        <%= link_to "Contact", "https://www.linkedin.com/in/annie-walsh-b754706a/",  target: :_blank %>
      </button>
    </div>
    <div id="showMenu" class="md:hidden">
      <%= image_tag 'Menu', alt: "menu icon" %>
    </div>
  </nav>
  <div id='mobileNav' class="hidden px-4 py-6 fixed top-0 left-0 h-full w-full bg-secondary z-20 animate-fade-in-down">
    <div id="hideMenu" class="flex justify-end">
      <%= image_tag 'Cross', alt: "Cross", class: "h-16 w-16"%>
    </div>
    <ul class="font-montserrat flex flex-col mx-8 my-24 items-center text-3xl">
      <li class="my-6">
        <a href="howitworks">About</a>
      </li>
      <li class="my-6">
        <a href="features">Garden</a>
      </li>
      <li class="my-6">
        <a href="pricing">Pricing</a>
      </li>
    </ul>
  </div>

  <!-- Hero -->
  <section
    class="pt-24 md:mt-0 md:h-screen flex flex-col justify-center text-center md:text-left md:flex-row md:justify-between md:items-center lg:px-48 md:px-12 px-4 bg-secondary">
    <div class="md:flex-1 md:mr-10">
      <h1 class="font-pt-serif text-5xl font-bold mb-7">
        Annie Walsh <br>
        web developer
        <span class="bg-underline1 bg-left-bottom bg-no-repeat pb-2 bg-100%">
          <%= image_tag "Underline1", alt: "underline", class: "bg-left-bottom bg-no-repeat pb-2 bg-100%" %>
        </span>
      </h1>
      <p class="font-pt-serif font-normal mb-7">
        Full-stack graduate of Le Wagon London, a 24-week part-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.
      </p>
      <div class="font-montserrat">
        <button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2">
          Call to action
        </button>
        <button class="px-6 py-4 border-2 border-black border-solid rounded-lg">
          What's yours?
        </button>
      </div>
    </div>
    <div class="flex justify-around md:block mt-8 md:mt-0 md:flex-1">
      <div class="relative">
        <%= image_tag 'Highlight1', alt: "highlight", class: "absolute -top-16 -left-10" %>
      </div>
      <%= image_tag 'MacBook Pro', alt: "Macbook Pro"%>
      <div class="relative">
        <%= image_tag 'Highlight2', alt: "highlight 2", class:"absolute -bottom-10 -right-6" %>
      </div>
    </div>
  </section>
